<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">


    <jpa:repositories base-package="com.livraigo.repository"
        entity-manager-factory-ref="entityManagerFactory"
        transaction-manager-ref="transactionManager" />

    
    <bean id="distanceCalculator" class="com.livraigo.service.util.DistanceCalculator" />
    <bean id="tourValidator" class="com.livraigo.service.util.TourValidator" />
    <bean id="dateTimeUtil" class="com.livraigo.service.util.DateTimeUtil" />


    <bean id="nearestNeighborOptimizer"
        class="com.livraigo.service.optimizer.NearestNeighborOptimizer">
        <constructor-arg ref="distanceCalculator" />
    </bean>

    <bean id="clarkeWrightOptimizer" class="com.livraigo.service.optimizer.ClarkeWrightOptimizer">
        <constructor-arg ref="distanceCalculator" />
    </bean>

    <bean id="modelMapper" class="org.modelmapper.ModelMapper" />

    <bean id="tourMapper" class="com.livraigo.mapper.TourMapper">
        <constructor-arg ref="modelMapper" />
    </bean>

    <bean id="deliveryMapper" class="com.livraigo.mapper.DeliveryMapper">
        <constructor-arg ref="modelMapper" />
    </bean>

    <bean id="vehicleMapper" class="com.livraigo.mapper.VehicleMapper">
        <constructor-arg ref="modelMapper" />
    </bean>

    <bean id="warehouseMapper" class="com.livraigo.mapper.WarehouseMapper">
        <constructor-arg ref="modelMapper" />
    </bean>



    <bean id="deliveryService" class="com.livraigo.service.impl.DeliveryServiceImpl">
        <constructor-arg ref="deliveryRepository" />
        <constructor-arg ref="deliveryMapper" />
    </bean>

    <bean id="vehicleService" class="com.livraigo.service.impl.VehicleServiceImpl">
        <constructor-arg ref="vehicleRepository" />
        <constructor-arg ref="vehicleMapper" />
    </bean>

    <bean id="warehouseService" class="com.livraigo.service.impl.WarehouseServiceImpl">
        <constructor-arg ref="warehouseRepository" />
        <constructor-arg ref="warehouseMapper" />
    </bean>

    <bean id="tourService" class="com.livraigo.service.impl.TourServiceImpl">
        <constructor-arg ref="tourRepository" />
        <constructor-arg ref="deliveryRepository" />
        <constructor-arg ref="vehicleRepository" />
        <constructor-arg ref="warehouseRepository" />
        <constructor-arg ref="nearestNeighborOptimizer" />
        <constructor-arg ref="clarkeWrightOptimizer" />
        <constructor-arg ref="tourValidator" />
        <constructor-arg ref="tourMapper" />
    </bean>


    <bean id="deliveryController" class="com.livraigo.controller.DeliveryController">
        <constructor-arg ref="deliveryService" />
    </bean>


    <bean id="warehouseController" class="com.livraigo.controller.WarehouseController">
        <constructor-arg ref="warehouseService" />
    </bean>

    <bean id="tourController" class="com.livraigo.controller.TourController">
        <constructor-arg ref="tourService" />
    </bean>


</beans> -->