spring:
  config:
    activate:
      on-profile: qa
  datasource:
    url: jdbc:postgresql://localhost:5432/livraigo
    driver-class-name: org.postgresql.Driver
    username: postgresql
    password: abc
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  optimization:
    algorithm: CLARKE_WRIGHT